.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

.vscode/

/log/
target/

*.jar
*.war
*.ear
*.db
*.log
dump.sql
db-id.txt

app/api-users/redirection

!.mvn/wrapper/maven-wrapper.jar
!pg/mybatis-migrations-3.3.3/lib/*.jar
!pg/proyecto1/drivers/*.jar

